@media (max-width: 992px) {
    .projects img{
        top: 0;
        left: 10%;
    }
    .project_box {
        height: 400px;
        align-items: flex-end;
    }
    .project_box_title::before{
        transform: rotate(40deg);
        width: 200px;
        top: -20%;
    }
    .project_recorder img{
        right: 10%;
        left: auto;
    }
    .project_recorder .project_box_title::before{
        transform: rotate(-40deg);
        width: 200px;
        top: -30%;
        left: 80%;
    }
}
@media (max-width: 768px) {
    .qrcode_img img{
        width: 100%;
        height: auto;
    }
    .qrcode{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    .details{
        margin-bottom: 40px;
    }
}
@media (max-width: 650px) {
    .menu_btn{
        display: block;
    }
    .nav_list{
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100vh;
        background: #142F43;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 999;
        transition: all .3s;
    }
    .nav_link{
        padding: 10px 0;
        font-size: 18px;
        display: inline-block;
    }
    nav.active .nav_list{
        right: 0;
    }
    .selfie.active .nav_list{
        top: -100%;
    }
    .project_box_title::before{
        transform: rotate(90deg) !important;
        left: 50% !important;
        bottom: 150% !important;
        width: 100px !important;
    }
    .project_box_img{
        left: 50% !important;
        transform: translateX(-50%) !important;
    }
}
@media (max-width: 576px) {
    .selfie .social-bar{
        display: none;
    }
    .selfie .photo{
        width: 300px;
        min-height: 200px;
    }
    .selfie .image{
        width: 300px;
        height: 200px;
        top: 80px;
        left: 5px;
    }
    .title{
        font-size: 32px;
    }
    .details{
        width: 100%;
        margin: 20px 0;
    }
    .camera_item{
        flex-direction: row;
        bottom: 0;
        top: auto;
        width: 100%;
        height: 60px;
    }
    .control_sound{
        margin: 0;
        margin-left: 30px;
    }
    .logo {
        font-size: 28px !important;
    }
    .social-bar{
        display: flex;
        width: 100%;
        bottom: 0;
        left: 0;
    }
}