@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --qrcode_light: #F9B208;
}

img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
button, input, .btn{
    outline: none;
    border: none;
}
.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    text-rendering: optimizeLegibility;
    cursor: pointer;
    height: 42px;
    max-width: 100%;
    width: max-content;
    border-radius: 5px;
    padding: 0 10px;
    font-weight: 700;
    line-height: 42px;
    font-size: 17px;
    background: #F9B208;
    color: #fff;
}
.btn-circle {
    position: absolute;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: #fff;
    transform: translate(-50%, -50%) scale(0);
    animation: scaling 0.5s ease-in-out;
}
@keyframes scaling {
	to {
		opacity: 0;
		transform: translate(-50%, -50%) scale(3);
	}
}
.menu_btn{
    font-size: 24px;
    color: #FFAB4C;
    margin-left: 20px;
    z-index: 999;
    display: none;
}

nav{
    width: 100%;
    position: relative;
    padding: 10px 0;
    background: #4A403A;
}
.nav_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 32px;
    line-height: 32px;
}
.logo_text{
    font-weight: 900;
    letter-spacing: 1px;
    background: url(../img/color.jpg) no-repeat center / cover;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    /* -webkit-text-stroke: 1px rgb(66, 255, 214); */
}
.nav_list, .nav_items{
    display: flex;
    align-items: center;
}
.nav_link{
    padding: 0 10px;
    color: #F9B208;
    font-size: 17px;
    font-weight: 500;
}
.theme{
    display: flex;
    margin-right: 20px;
}
.theme span{
    padding: 8px 12px;
    font-size: 20px;
    cursor: pointer;
}
.theme span i{
    pointer-events: none;
}
.day{
    background: var(--qrcode_light);
    color: #fff;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.night{
    background: #30475E;
    color: #fff;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Qr-code styling */

main{
    padding-top: 15px;
}
.title{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #4A503D;
    padding-bottom: 30px;
}
.qrcode{
    display: flex;
}
.details{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.preview{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
fieldset{
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 400px;
}
.input{
    height: 45px;
    width: 100%;
    max-width: 400px;
    padding: 5px 15px;
    background: #FCFFA6;
    border-radius: 8px;
}
.details_label{
    color: #5D534A;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 10px;
}
.color_input{
    padding: 0;
    background: transparent;
    border-radius: 10px;
}
.correct_level input{
    padding: 0;
}
.range_item{
    display: flex;
    justify-content: space-between;
    color: #7E370C;
    font-weight: 700;
    padding-bottom: 10px;
}
.qrcode_img img{
    width: 60%;
}
.qrcode_img{
    display: flex;
    justify-content: center;
}
.qrcode_download{
    background: #0C1E7F;
    width: 300px;
    margin-top: 30px;
}
/* Social bar */
.social-bar {
    position: fixed;
    left: -15px;
    bottom: 5%;
    background-color: white;
    transition: all .3s;
}
.social-bar__item {
    padding: 10px 10px 10px 25px;
    color: white;
    font-size: 30px;
    text-align: center;
    transition-property: transform, opacity;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}
.social-bar__item:hover {
    transform: translate(15px);
    opacity: 0.9;
}
.social-bar__fb {
    background-color: #3b5999;
}
.social-bar__twitter {
    background-color: #55acee;
}
.social-bar__linkedin {
    background-color: #0077b5;
}
.social-bar__instagram {
    background-color: #e4405f;
}
.social-bar__printerest {
    background-color: #bd081c;
}
.social-bar__github {
    background-color: #212529;
}

/* Selfie styling */

.body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.selfie{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    background: #222;
}
.camera video{
    width: 100%;
    height: 100vh;
}
.selfie.active .camera video{
    cursor: none;
}
canvas{
    display: none;
}
.camera_item{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60px;
    background: #212121;
    opacity: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.take_photo{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    border-radius: 50%;
    background: #212121;
    color: #fff;
    border: 1.5px solid #fff;
    cursor: pointer;
    transition: all .3s ease;
}
.control_sound{
    font-size: 24px;
    background: none;
    color: #fff;
    margin-top: 25px;
    cursor: pointer;
}
.control_sound.active i::before{
    content: '\f130';
}
.take_photo:hover{
    background: #fff;
    color: #1E3163;
}

.image{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 400px;
    height: 300px;
    display: none;
}
.image .photo {
    width: 100%;
    min-height: 250px;
    height: auto;
    object-fit: cover;
}
.output{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    z-index: 999;
}
.close_btn{
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    background: none;
    color: #fff;
    background: #0CECDD;
    transition: all .3s;
    cursor: pointer;
}
.selfie_down{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
    color: #fff;
    background: #0CECDD;
    transition: all .3s;
}
.output:hover .close_btn{
    top: 0;
}
.output:hover .selfie_down{
    bottom: 0;
}
.selfie .nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: all .3s;
}
.selfie.active nav{
    top: -100%;
}
.selfie.active .social-bar{
    left: -100%;
}

/* Voice recorder styling */

.recorder_body{
    text-align: center;
}
.microphone{
    font-size: 64px;
    background: url(../img/color.jpg) no-repeat center / cover;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px rgb(255, 66, 66);
    cursor: pointer;
    transition: all .2s
}
.microphone:hover{
    animation: microphone 0.5s linear;
}
@keyframes microphone {
    0%{
        transform: rotate(0deg);
    } 10%{
        transform: rotate(30deg);
    } 20%{
        transform: rotate(60deg);
    } 30%{
        transform: rotate(0deg);
    } 40%{
        transform: rotate(-30deg);
    } 50%{
        transform: rotate(-60deg);
    } 60%{
        transform: rotate(-15deg);
    } 70%{
        transform: rotate(20deg);
    } 80%{
        transform: rotate(70deg);
    } 90%{
        transform: rotate(30deg);
    } 100%{
        transform: rotate(0deg);
    }
}
.voice_record{
    position: relative;
}
.recorder_text{
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    padding: 12px 0 20px;
    color: #353535;
}
.voice_record.active .microphone{
    transform: scale(1.25);
}
.voice_record.active .indicator{
    opacity: 1;
}
.indicator{
    position: absolute;
    bottom: 95%;
    left: 47%;
    transform: translateX(-50%);
    transform: rotate(30deg);
    color: #ff2828;
    padding: 5px 10px;
    background: #222;
    border-radius: 20px;
    font-weight: 500;
    pointer-events: none;
    transition: .3s;
    opacity: 0;
}
.indicator i{
    font-size: 14px;
    transition: .3s ease;
    padding-left: 3px;
    animation: indicator 1s linear infinite;
}
@keyframes indicator {
    0%{
        opacity: 100%;
    } 25%{
        opacity: 50%;
    } 50%{
        opacity: 0%;
    } 75%{
        opacity: 50%;
    } 100%{
        opacity: 100%;
    }
}
.output_audio.active{
    animation: audio 0.5s linear infinite;
}
@keyframes audio {
    0%{
        transform: rotate(0deg);
    } 10%{
        transform: rotate(10deg);
    } 20%{
        transform: rotate(0deg);
    } 30%{
        transform: rotate(-10deg);
    } 40%{
        transform: rotate(0deg);
    } 50%{
        transform: rotate(10deg);
    } 60%{
        transform: rotate(0deg);
    } 70%{
        transform: rotate(-10deg);
    } 80%{
        transform: rotate(0deg);
    } 90%{
        transform: rotate(10deg);
    } 100%{
        transform: rotate(0deg);
    }
}

/* Introduce styling */

.introduce{
    padding-bottom: 50px;
}
.introduce .title{
    font-size: 30px;
    padding-bottom: 40px;
}
.project_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
    padding-bottom: 30px;
}
.project_box_title{
    position: relative;
    text-align: center;
    font-size: 20px;
    color: #212121;
    width: 300px;
    padding: 20px 30px;
    border-radius: 10px;
    transition: .3s;
}
.project_box_title:hover{
    background: #A3E4DB;
}
.project_box_title:hover::before{
    height: 2px;
}
.project_box_title span{
    color: #001fcf;
}
.project_box_img{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 0;
    left: 0;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.486) 0px 30px 60px -30px, rgba(10, 37, 64, 0.616) 0px -2px 6px 0px inset;
    transition: all .3s;
}
.project_box_img.active, .project_box_img:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgb(0, 0, 0) 0px 30px 60px -30px, rgba(0, 0, 0, 0.986) 0px -2px 6px 0px inset;
    transform: scale(1.1);
}
.project_box_img:nth-child(1){
    transform: rotate(5deg);
}
.project_box_img:nth-child(2){
    transform: rotate(-5deg);
}
.project_box_img:nth-child(3){
    transform: rotate(7deg);
}
.project_recorder img{
    right: 0;
    left: auto;
}
.project_box_title::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 1px;
    top: 30%;
    right: 90%;
    background: #555;
    transform: rotate(15deg);
}
.project_recorder .project_box_title::before{
    top: 80%;
    left: 90%;
}